# Dependencias core
torch
torchvision
transformers
Pillow

# Vector DB
faiss-cpu       # usar faiss-gpu si hay GPU disponible

# Datos
pandas
numpy
requests
tqdm
scikit-learn
sentencepiece
protobuf
# Config
python-dotenv

# Demo
gradio

# API
fastapi
uvicorn
python-multipart

# HuggingFace
huggingface_hub
